.navbar{
    width: 100%;
    background-color: #222;
    padding: 1rem;
    position: relative;
}

.list{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

.listItem{
    color: white;
    text-decoration: none;
    transition: 0.4s;
}

.listItem:hover{
    color: #ffbb33;
}

.mainIcon{
    position: absolute;
    top: 2.7rem;
    right: 2rem;
    cursor: pointer;
    display: none;
    transition: 0.4s;
}

.mainIcon:hover > svg{
    color: #ffbb33;
}

.mainIcon svg{
    color: white;
    font-size: 23px;
    transition: 0.4s;
}



@media screen and (max-width: 700px){
    .mainIcon{
        display: block;
    }

    .list{
        display: none;
        flex-direction: column;
        justify-content: center;
        gap: 0.7rem;
        margin: 1rem 0;
        text-align: center;
        width: 100%;
    }

    .list.active{
        display: flex;
    }
}